.button {
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: white;
    transition: 0.2s;
}

.button:hover {
    background-color: #1EACFF;
    box-shadow: 0px 0px 15px #1EACFF;
}

.button:active {
    background-color: #1eddff;
    box-shadow: 0px 4px 15px #1EACFF;
    transition: 0.2s;
}

.settings-button {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: white;
    transition: 0.2s;
}

.settings-button:hover {
    background-color: #1EACFF;
    box-shadow: 0px 0px 15px #1EACFF;
}

.settings-button:active {
    background-color: #1eddff;
    box-shadow: 0px 4px 15px #1EACFF;
    transition: 0.2s;
}