.dark-mode{
    background-color: black;
}

.dark-mode .header .title {
    color: white;
}

.dark-mode .button {
    background-color: #136EA3; 
}

.dark-mode .settings-button {
    background-color: #136EA3; 
}


.dark-mode .horizontal-divider {
    background-color: #252525;
}

.dark-mode .vertical-divider {
    background-color: #252525;
}


.dark-mode #hamburger-menu {
    background-color: rgb(41, 41, 41);
}

.dark-mode .pathfinding-algorithms-tab .title {
    color: white;
}



.dark-mode .settings-tab .title {
    color: white;
}



.dark-mode #delay-options {
    background-color: #0E4F75;
}

.dark-mode #delay-options > div {
    color: white;
}

.dark-mode #delay-options .selected {
    background-color: #1BA2F1;
}



.dark-mode .start {
    background-image: url("../icons/light-blue-home-icon.png");
}

.dark-mode .target {
    background-image: url("../icons/light-blue-target-icon.png");
}

.dark-mode .visited {
    background-color: #00FFFF;
}

.dark-mode .optimal-path {
    background-color: yellow;
}

.dark-mode .wall {
    background-color: rgb(149, 207, 252);
}

.dark-mode .pathway {
    background-color:rgb(149, 252, 161);
}

.dark-mode td {
    border: 1px solid rgb(149, 207, 252);
    background-color: #435C70;
}