html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.columns-organizer {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.settings-table-organizer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.horizontal-divider {
    width: 100%;
    height: 3px;
}

.vertical-divider {
    width: 3px;
}