#hamburger-menu {
    width: 0%;
    height: 100%;
    z-index: 1;
    position: fixed;
    transition: 0.3s;
}

.x-button {
    width: 50px;
    height: 44px;
    color: white;
    background-color:rgb(41, 41, 41);
    font-size: 36px;
    float: right;
    cursor: pointer;
    border: white;
}