.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hamburger-menu-button {
    margin-left: 33px;
    width: 50px;
    height: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-menu-button > div {
    width: 100%;
    height: 3px;
    background-color: white;
}

.header .title {
    margin-left: 33px;
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
}