.light-mode{
    background-color: #303E9F;
}

.light-mode .header .title {
    color: #3DE2CC;
}

.light-mode .button {
    background-color: #5069E5; 
}

.light-mode .settings-button {
    background-color: #5069E5; 
}


.light-mode .horizontal-divider {
    background-color: #5069E5;
}

.light-mode .vertical-divider {
    background-color: #5069E5;
}


.light-mode #hamburger-menu {
    background-color: rgb(41, 41, 41);
}

.light-mode .pathfinding-algorithms-tab .title {
    color: white;
}



.light-mode .settings-tab .title {
    color: white;
}



.light-mode .start {
    background-image: url("../icons/dark-blue-home-icon.png");
}

.light-mode .target {
    background-image: url("../icons/dark-blue-target-icon.png");
}

.light-mode #delay-options {
    background-color: #0E4F75;
}

.light-mode #delay-options > div {
    color: white;
}

.light-mode #delay-options .selected {
    background-color: #1BA2F1;
}



.light-mode .visited {
    background-color: #00FFFF;
}

.light-mode .optimal-path {
    background-color: yellow;
}

.light-mode .wall {
    background-color: rgb(149, 207, 252);
}

.light-mode .pathway {
    background-color:rgb(149, 252, 161);
}

.light-mode td {
    border: 1px solid #7CE5FF;
    background-color: white;
}