.pathfinding-algorithms-tab {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pathfinding-algorithms-tab .title {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}