.settings-tab {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings-tab .title {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#delay-options {
    position: absolute;
    width: 175px;
    height: 90px;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

#delay-options > div {
    font-family: "Open Sans", sans-serif;
    width: 100% - 10px;
    height: 30px;
    cursor: pointer;
    padding-left: 10px;
}